h1{
  text-align: center; 
}
h2{
  text-align: left; 
}
h3{
  text-align: center; 
}
h4{
  text-align: center; 
  font-size: 40px;
}

/*style página de error */
h2.error{
  text-align: center;
}
div.pantallaError{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: 1fr;
  -ms-grid-row-span: initial;
  margin-bottom: 150px;
}
img.error{
  width: 25%;
  margin-bottom: 25px;
}

h1.error{
  text-align: center;
  width: 100%;
}


body {
  background-color: #eeeeee ;
  list-style-type: none;
  text-decoration: none;
  margin: 0 auto;
  max-width: 1180px;
}

a { 
  text-decoration: none;
}


/*style header */
header {
  margin: 20px auto;
  padding: 0 20px;
  border-bottom: 1.5px solid rgb(18, 63, 89);
}

header div.arriba {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  gap: 10px;
}

.logo img {
  width: 90%;
}

header div.arriba div.derecha {
  margin-top: 0px;
}

header div.arriba div.derecha ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  padding: 0px; 
}

header div.arriba div.derecha div.iconos ul {
  margin: 0;
  color: rgb(18, 63, 89);
  font-family: 'Montserrat' sans-serif;
  font-weight: normal;
}

header div.arriba div.derecha div.iconos-cliente ul {
  margin: 0;
  color: rgb(18, 63, 89);
  font-family: 'Montserrat' sans-serif;
  font-weight: normal;
  font-size: 30px;
}

li.fas.fa-home {
  width: 34px 30px;
}

header div.arriba div.derecha div.nav-inicio ul {
  margin: 0;
  color: rgb(18, 63, 89);
  font-family: 'Montserrat' sans-serif;
  font-weight: normal;
}

header div.arriba div.derecha div.nav-inicio ul li {
  margin: 0 5px;
}

header div.abajo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

header div.abajo div.dropdown .btn {
  background-color: rgb(18, 63, 89);
  
}

.navbar-light .navbar-brand {
  color: #123F59;
  background-color: #eeeeee;
}

.navbar-toggler:hoover {
  color: #5b79ff;
}

.navbar {
  font-family: 'Montserrat';
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #123F59;
}

.buscar{
  justify-content: flex-end;
  flex-flow: row nowrap;
}

.btn-outline-success {
  color: rgb(18, 63, 89);
  border-color: rgb(18, 63, 89);
}

/*style footer*/

footer div.contenedor-abajo {
  background-color: rgb(18, 63, 89);
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

footer div.contenedor-abajo div.datos {
  text-align: center;
  border-bottom: 0.5px solid white;
  width: 100%;
}

footer div.contenedor-abajo div.datos h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

footer div.contenedor-abajo div.datos p {
  font-size: 12px;
  margin-top: 5px;
}

footer div.contenedor-abajo div.contacto{
  border-bottom: 0.5px solid white;
  margin-bottom: 10px;
  width: 100%;
}

footer div.contenedor-abajo div.contacto p{
  font-size: 12px;
  text-align: center;
  margin-bottom: 2px auto;
}

footer div.contenedor-abajo div.redes {
  font-size: 25px;
}

/*home*/

div.banner {
  align-items: center;
  justify-content: center;
}

div.banner img{
  width: 100%;
}


/*style registro de usuario*/
h2 {
  font-family: 'Montserrat';
  text-align: left;
}

div.registerForm {
  margin: 20px auto;
  padding: 0 20px;
  text-align: center;
  width: 100%;
}

div.registerForm form div input {
  border-bottom: 1px solid rgb(71, 176, 278);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 10px;
  text-align: center;
  margin: 20px auto;
  width: 50%;
}


.btn-primary {
  background-color: rgb(18, 63, 89);
  border-color: rgb(18, 63, 89);
  margin-top: 20px;
}

main div.registerForm p {
  font-family: 'Montserrat';
  font-size: 20px;
  margin-top: 30px;
}

div #recordarme {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form.form-login input.is-invalid {
  border: solid 1px red;
}

form.form-register input.is-invalid {
  border: solid 1px red;
}
/*formulario de registro de producto*/
/*  
.body {
    margin: auto;
    justify-content: center;

  }*/

  h2.tit {
    text-align: center;
    font-size: 28px;
    margin-bottom: 60px;
  }

  form div h3{
    text-align: center;
    font-size: 20px;
  }

  div textarea{
    width: 500px;
    height: 300px;
  }

  div textarea.segunda {
    width: 500px;
    height: 100px;
  }

  .publicar {
      background-color: grey;
      text-decoration: black;
      width: 180px;
      height: 40px;
  }
  .publicar:hover {
      background-color: #5b79ff;
      text-decoration: blanchedalmond;
  }
  
  form{
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
    width: 100%;
  }
  
  div input {
    border-bottom: 1px solid #5b79ff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 280;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    margin: 25px auto;
    width: 50%;  
  }

  div.descuento {
    flex-direction: row;
    justify-content: center;
  }

  input.descuento {
    margin: 0px;
  }

  div textarea {
    margin-top: 20px;
    margin-bottom: 20px;
  }


  select{
      width: 150px;
      height: 30px;
  }

    /*style carrito de productos */

    div.carritoContenedor{
      padding: 10px 100px 100px 100px;
    }

    main div.carrito {
      display: grid;
      grid-template-columns: 3fr 5fr 4fr;
      gap: 20px;
      margin: 30px auto;
      padding: 0 15px;
      border-bottom: 1px solid rgb(18, 63, 89);
    }

    main div.carrito div.foto-prod {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

    main div.carrito div.foto-prod img {
      width: 100%;
    }

    main div.carrito div.descripcion-prod h3 {
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      font-weight: bold;
    }

    main div.carrito div.descripcion-prod p {
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
    }

    main div.carrito div.cantidad h3 {
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      text-align: center;
    }

    main div.carrito div.cantidad div.agregar-quitar {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;
    }

    main div.carrito div.cantidad div.agregar-quitar p{
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 0px;
    }

    div.comprar {
      margin: 30px auto;
      padding: 0 15px;
      font-family: 'Montserrat';
    }

    div.comprar div.continuar-compra {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    div.comprar div.continuar-compra i {
      font-size: 30px;
      color: rgb(18, 63, 89);
      margin-right: 20px;
      margin-top: 20px;
    }

    /*style detail */
    main div.fotos {
      display: flex;
      flex-direction: column;
      margin: 20px auto;
      padding: 0 20px;
    }

    main div.fotos div.foto-grande img {
      border: 1px solid rgb(18, 63, 89);
      margin: 20px auto;
    }

    main div.fotos-chicas {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    main div.fotos-chicas div.fotos-arriba {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    main div.fotos-chicas div.fotos-abajo {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    main div.fotos-chicas img {
      width: 25%;
      border: 1px solid rgb(18, 63, 89);
    }

    main div.detalle h3 {
      font-family: 'Montserrat';
      text-align: center;
    }

    main div.botones {
      text-align: center;
    }

    main div.botones button {
      margin: 20px 20px;
    }

    main div.producto-detalles {
      text-align: center;
      margin: 20px auto;
      font-family: 'Montserrat';
      padding: 0 20px;
    }

    main div.producto-detalles h4 {
      background: #D7DEF7;
      padding: 5px;
    }

    div.descuentos-total{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }

    /*style detail */

    div.detail {
      margin: 40px;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    div.detail div.imagen img {
      margin-bottom: 20px;
    }

    div.detail div.textos {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    div.detail div.textos h2 {
      font-weight: bold;
    }

    div.detail div.textos h3 {
      font-weight: lighter;
      margin-bottom: 20px;
    }

    div.detail div.textos p.subtitulo  {
      font-weight: bold;
      margin-bottom: 1px;
    }


    div.botones{
      display: -webkit-box;
      justify-content: center;
    }

    /*style listado de productos*/

    a.linkProd{
      color: #123F59;
    }

    div.list {
      margin: 20px auto;
      padding: 0px 20px;
      }

      div.list div.productos {
        margin: 20px 10px;
      }

      div.list img {
        width: 100%;
      }

    div.list div.products h2 {
      font-family: 'Montserrat', sans-serif;
      text-align: left;
      font-weight: bold;
    }

    div.list div.products h3 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 100;
      text-align: left;
    }

    div.list div.products .clasificacion {
      border-bottom: 1px solid rgb(18, 63, 89);
      margin-bottom: 25px;
      padding-bottom: 20px;
    }

    div.list div.productos{
      display: flex;
      flex-direction: column;
    }

    div.botones {
      font-size: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
    }

    div.botones i {
      color: rgb(18, 63, 89);
      align-items: flex-start;
      margin-bottom: 10px;
    }
    

    div.botones form button {
      border: 0px;
      text-align: start;   
      margin: 0px;    
      padding: 0px;
    }

    div.botones form{
      margin: 0px;
    }

    div.descripcion{
      line-height: 1.5;
    }

    /* Style perfil */

section.perfil {
  margin: 15px auto;
  padding: 15px;
}

section.perfil div.datos-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.perfil div.bienvenidos h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 30px; 
}

div.boton-editar {
  margin-top: 20px;
}

div.boton-editar i {
  margin: 0 10px;
  font-size: 25px;
}

div.datos-perfil div.nombre-apellido {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.datos-perfil div.nombre-apellido h1 {
  margin: 0 5px;
}

div.datos-perfil img.avatar {
  margin-top: 20px;
}

div.prod-favoritos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px
}

div.favoritos h3 {
  margin-top: 20px;
}

div #nombre {
  text-align: center;
}

div #modelo {
  font-weight: lighter;
  text-align: center;
}

div.favoritos img.foto {
  text-align: center;
}

div.botones-perfil {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

div.botones-perfil i {
  color: rgb(18, 63, 89);
  align-items: flex-start;
  margin-bottom: 10px;
}


div.botones-perfil form button {
  border: 0px;
  text-align: start;   
  margin: 0px;    
  padding: 0px;
}

div.botones-perfil form{
  margin: 0px;
}

/*  media query perfil-favoritos */

@media (min-width: 768px) {
  div.lista-favoritos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px){
  div.lista-favoritos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* fin media query perfil-favoritos */
    


  
  @media (min-width:768px) {
      .productos{
          display: flex;
          flex-direction: row;
      }
  
      .product {
          width: 33%;
      }

      header.arriba.logo.img {
        width: 90%;
      }
  }
  
  @media (min-width:1024px) {
      .productos{
          display: flex;
          flex-direction: row;
      }
  
      .product {
          width: 25%;
      }

      header.arriba.logo.img {
        width: 60%;
      }
  }




/*media querys tablets */

@media (min-width: 426px) {
  /*style header*/
  /*header div.arriba .logo img {
  }*/
  header div.arriba {
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 20px;
  }
  
  header div.arriba div.derecha {
    margin-top: 5px;
  }
  
  header div.arriba div.derecha div.iconos ul {
    font-size: 30px;
  }
  
  header div.abajo {
    display: grid;
    grid-template-columns: 6fr 1fr;
  }
  
  form.form-inline{
    flex-flow: row nowrap;
    width: 100%;
  }
  
  /*style footer*/
  footer div.contenedor-abajo {
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
  }
  
  footer div.contenedor-abajo div.datos {
    border-bottom: hidden;
    text-align: left;
    border-right: 1px solid white;
  }
  
  footer div.contenedor-abajo div.contacto {
    border-bottom: hidden;
    text-align: left;
    margin-left: 50px;
  }
  
  footer div.contenedor-abajo div.contacto p{
    text-align: left;
  }
  
  footer div.contenedor-abajo div.redes i {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 30px;
  }

  /*style profile */

  h2.bienvenide{
    text-align: center;
  }

  div.profile{
    margin-top: 20px;
    margin: 20px;
    margin-bottom: 500px;
    justify-content: center;
    align-items: center;
  }




  /*style carrito de productos */


  /*style detalle */

/*style laptop*/

@media (min-width: 769px) {
  /*style header*/
  header div.arriba {
    margin-bottom: 10px;
  }
  
  /*style footer*/
  footer div.contenedor-abajo {
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
  }
  
  footer div.contenedor-abajo div.datos {
    border-bottom: hidden;
    text-align: left;
    border-right: 1px solid white;
  }
  
  footer div.contenedor-abajo div.contacto {
    border-bottom: hidden;
    text-align: left;
    margin-left: 50px;
  }
  
  footer div.contenedor-abajo div.contacto p{
    text-align: left;
  }
  
  footer div.contenedor-abajo div.redes i {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 30px;
  }

    /*style list */

    div.list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    div.list div.productos {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    /*style página de error */
    div.pantallaError{
      justify-content: center;
      align-items: center;
    }
  }
}

