<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>

    <footer>
        <div class="contenedor-abajo">
            <div class="datos">
                <h3>Fasten S.A.</h3>
                <p>Desde 1998, Copyright © 2014</p>
            </div>
            <div class="contacto">
                <p>Email: fasten@fasten.com.ar</p>
                <p>Tel. / Fax: (54-11)4301-5986 / 6938-4302</p>
                <p>Pedriel 1606 C1279AHL Bs. As. - Argentina</p>
            </div>
            <div class="redes">
                <i class="fab fa-whatsapp-square"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </footer>
    
</body>
</html>