<!DOCTYPE html>
<html>
  <head>
    <title>Fasten S.A.</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <%- include('./partials/header-client') %>
    <%- include('./home') %>    
    <%- include('./partials/footer') %>

  </body>
</html>
