<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>


    <div class="productAdd">

        <form action="/products" method="POST" enctype="multipart/form-data">
            <h2 class="tit">FORMULARIO DE CARGA DE PRODUCTO</h2>
            <div>
                <h3> Nombre del producto </h3>
               <input type="nombre" name="name" placeholder="Nombre">
            </div>
        
            <div>
                <h3>Nomenclatura del modelo</h3>
                <input type="nomenclatura" name="modelo" placeholder="Modelo">
            </div>
        
            <div>
                <h3>Precio</h3>
                <input type="precio" name="price" placeholder="Precio">
            </div>
        
            <div>
                <label for="Clasificación">Clasificación</label>
                <select name="clasificacion">
                    <option value="">-- Seleccionar --</option>
                    <option value="1">Trabajos con tensión</option>
                    <option value="2">Seguridad</option>
                    <option value="3">Aparatos de testeo y medición</option>
                </select>
            </div>
        
            <div>
                <h3>Descripción</h3>
                <textarea name="description" placeholder="Descripción"></textarea>    
            </div>

            <div>
                <h3>Descripción breve</h3>
                <textarea class="segunda" name="descriptionSeg" placeholder="Descripción breve"></textarea>    
            </div>

            <div>
                <input type="file" name="foto">Agregar foto</button>
            </div>
        
            <div>
                <button type="submit" class="publicar">Publicar</button>
            </div>
                       
            
        </form>
    
    </div>
<%- include('./partials/footer') %>

</body>
</html>