<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>


    <div class="productAdd">

        <form action="/products" method="POST" enctype="multipart/form-data">
            <div>
               <input type="nombre" name="nombre" placeholder="Nombre">
            </div>
        
            <div>
                <input type="nomenclatura" name="modelo" placeholder="Modelo">
            </div>
        
            <div>
                <input type="precio" name="precio" placeholder="Precio">
            </div>
        
            <div>
                <label for="Clasificación">Clasificación</label>
                <select name="clasificacion">
                    <option value="TcT">Trabajos con tensión</option>
                    <option value="Seg">Seguridad</option>
                    <option value="ATM">Aparatos de testeo y medición</option>
                </select>
            </div>
        
            <div>
                <textarea name="description" placeholder="Descripción"></textarea>    
            </div>

            <div>
                <input type="file" name="foto">Agregar foto</button>
            </div>
        
            <div>
                <button type="submit" class="publicar">Publicar</button>
            </div>
                       
            
        </form>
    
    </div>
<%- include('./partials/footer') %>

</body>
</html>