<%- include('./partials/head') %>

<%- include('./partials/header') %>

<body>

    <h1>Error, no econtramos la página que buscas<h1>
    <h2>Probá </h2>
    <img src="/img/cartel-22x28-cm-alta-tension-peligro-de-muerte-D_NQ_NP_653348-MLA26586345975_012018-F.jpg" alt="Página de error">
    
    <%- include('./partials/footer') %>

</body>

</html>