<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>
    <main>
        <div class="carritoContenedor">
            <div class="carrito">

                <div class="foto-prod">
                    <img src="/img/pinzaBT rojo.png" alt="">
                </div>
    
                <div class="descripcion-prod">
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa facilis assumenda fugiat.</p>
                </div>
    
                <div class="cantidad">
                    <h3>Cantidad</h3>
                    <div class="agregar-quitar">
                        <i class="fas fa-minus"></i>
                        <p>1</p>
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="precio">
                        <h3>$000</h3>
                    </div>
                </div>
    
            </div>
    
            <div class="carrito">
    
                <div class="foto-prod">
                    <img src="/img/pinzaBT rojo.png" alt="">
                </div>
    
                <div class="descripcion-prod">
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa facilis assumenda fugiat.</p>
                </div>
    
                <div class="cantidad">
                    <h3>Cantidad</h3>
                    <div class="agregar-quitar">
                        <i class="fas fa-minus"></i>
                        <p>1</p>
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="precio">
                        <h3>$000</h3>
                    </div>
                </div>
    
            </div>
    
            <div class="carrito">
    
                <div class="foto-prod">
                    <img src="/img/pinzaBT rojo.png" alt="">
                </div>
    
                <div class="descripcion-prod">
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa facilis assumenda fugiat.</p>
                </div>
    
                <div class="cantidad">
                    <h3>Cantidad</h3>
                    <div class="agregar-quitar">
                        <i class="fas fa-minus"></i>
                        <p>1</p>
                        <i class="fas fa-plus"></i>
                    </div>
                    <div class="precio">
                        <h3>$000</h3>
                    </div>
                </div>
    
            </div>

            <div class="descuentos-total">
                <p>Productos (3):</p>
                <h3>$000</h3>

                <p>Descuentos:</p>
                <h3>$000</h3>

                <h4>Total:<h4>
                <h4>$000</h4>

            </div>    
    
            <div class="comprar">
                <div class="continuar-compra">
                    <i class="fas fa-shopping-cart"></i>
                    <button type="button submit" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                        Comprar
                    </button>
                </div>
    
            </div>
        </div>
        

    </main>

    <%- include('./partials/footer') %>
</body>

</html>