<html> 
<head>
<meta charset= "UTF-8">
<title> Detalle del producto</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
<link rel='stylesheet' href="../public/css/detalle.css">



</head>

<body>
    <%- include('./partials/header') %>
                <h1>Nombre Del producto</h1>
        
            <section>
            <div class= "fotos">
            <div class="fotogrande">
            <article class="fotoprod" id= "foto">
                 <img style= "width: 700px;height:auto;" src="../img/carrete.png" alt="Imagen producto">
            </article>
        </div>
            <div class="fotoschicas">
            <article class="fotoprodchica" id= "foto">
                    <img style =" width: 250px; 
                    height:auto;" src="../img/carrete.png" alt="Imagen producto">
            </article>

            <article class="fotoprodchica" id= "foto">
                <img style =" width: 250px; 
                height:auto;" src="../img/carrete.png" alt="Imagen producto">
            </article>
            <div class="fotochica3">
            <article class="fotoprodchica" id= "foto">
                <img style =" width: 250px; 
                height:auto;" src="../img/carrete.png" alt="Imagen producto">
            </article>
            </div>
        </div>
        </div>
        </section>
    <div class="precio">PRECIO</div>
    <div class= "botones">
        <div class="comprar">
        <button>Comprar ahora</button>
        </div>
        <div class="añadir">
        <button>Añadir al carrito</button>
        </div>
    </div>
    <div class="Descripcion">
        <article class= "containerDescripcion" id="">
            <div class = "texto1descripcion"><h2>Descripcion del producto</h2></div>
            <div class = "texto2descripcion"><p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, incidunt quasi illum ratione atque deleniti asperiores nostrum laudantium eius amet alias animi quam dolorum qui magnam repudiandae quaerat, ducimus odio provident sunt tenetur aut, repellendus error quibusdam! Aliquid, magnam eius!</p></div>
            <div class = "texto3descripcion"><h3>Caracteristicas del producto</h3></div>
            <div class = "texto4descripcion"><p> CARACTERISTICAS: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, mollitia provident. Soluta, ratione. Vitae eos, magnam vero ut excepturi provident?</p></div>
    </article>
    </div>
   
</div>
<%- include('./partials/footer') %>
</body>







</html>