<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./public/css/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="productAdd">

        <form action="" method="POST" enctype="multipart/form-data">
            <div>
               <input type="nombre" name="nombre del producto" placeholder="Nombre">
            </div>
        
            <div>
                <input type="nomenclatura" name="nomenclatura del modelo" placeholder="Modelo">
            </div>
        
            <div>
                <input type="precio" name="precio" placeholder="Precio">
            </div>
        
            <div class="descuento">
                <label for="descuento">¿Tiene descuento?</label>
                <input type="radio" name="tiene" value="sí" class="descuento">
            </div>
        
            <div>
                <label for="Clasificación">Clasificación</label>
                <select name="familia">
                    <option value="TcT">Trabajos con tensión</option>
                    <option value="Seg">Seguridad</option>
                    <option value="ATM">Aparatos de testeo y medición</option>
                </select>
            </div>
        
            <div>
                <textarea name="mensaje" placeholder="Descripción"></textarea>    
            </div>

            <div>
                <input type="file" name="foto">Agregar foto</button>
            </div>
        
            <div>
                <button type="submit" class="publicar">Publicar</button>
            </div>
                       
            
        </form>
    
    </div>
<%- include('./partials/footer') %>

</body>
</html>